<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
        body {
            margin: 0;
            padding: 0;
        }
        nav {
            display: flex;
            align-items: center;
            padding: 10px;
        }
        hr {
            filter: blur(3px);
            margin-top: -5px;
        }
    </style>
</head>
<body>
    <nav>
        <a style="font-family: 'Shrikhand', cursive;
        margin-right: auto;
        margin-left: 300px;
        color: #00c2a0;
        font-size: 44px;
        text-decoration: none;" href="/">EatSmart</a>
    </nav>
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>

