<!DOCTYPE html>
<html>
<head>
  <title>EatSmart</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

    
    .NavBar {
      display: flex;
      align-items: center;
      padding: 10px;
      margin-left: 300px;
    }

    .NavBar .navbar-brand {
      color: #333333;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
    }

  </style>
</head>
<body>
    <nav class="NavBar">
        <a class="navbar-brand" href="#">EatSmart</a>
      </nav>
    <div class="Row" style="height: calc(100vh - 81px); display: flex; align-items: center; justify-content: flex-start;">
        <div class="Container" style="padding: 30px 10px; max-width: 400px; margin: 0 auto;">
          <h2 class="Header" style="font-weight: bold; font-size: 16px; line-height: 19px; text-align: center; letter-spacing: 0.1em; color: #2142b2;">Your Ultimate Calorie Counter for Healthy Living</h2>
          <div style="text-align: center;">
            <a class="cta-button" href="#" style="background-color: #00c2a0; color: #ffffff; font-size: 24px; padding: 10px 20px; border-radius: 4px; text-decoration: none; transition: background-color 0.3s; display: inline-block;">Get Started</a>
          </div>
        </div>
      </div>
      
      
</body>
</html>
